{% extends "base.html" %}

{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
<div id="signin-block" class="container p-5 rounded-3">
    <div id="signin block">
        <p>If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.</p>
    </div>
    {% url 'account_login' as login_url %}
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-secondary" type="submit">{% trans "Sign In" %}</button>
    </form>
</div>
{% endblock content %}

