{% extends "base.html" %}

{% load allauth i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
<header>
    <div class="account-header">
        <h1 class="hidden">Sign In</h1>
        <div class="d-flex align-items-center gap-1">
            <a href="#"><img src="{% static 'images/watch-_logo.png' %}" alt="Logo" height="40px" class="d-inline-block align-text-top"></a>
            {% include 'clockface.html' %}
            <a href="#"><img src="{% static 'images/-tron_logo.png' %}" alt="Logo" height="40px" class="d-inline-block align-text-top"></a>
        </div>
    </div>
</header>
<main>
    <div class="logout-container">
        <div class="account-box bg-secondary-subtle">
            <p>{% trans "Are you sure you want to log out?" %}</p>
            <form method="POST" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {{ form | crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center">
                    <button class="btn btn-danger" type="submit">{% trans "Sign Out" %}</button>
                    <a href="{% url 'home' %}" class="btn btn-primary" type="button">{% trans "Cancel" %}</a>
                </div>
            </form>
        </div>
    </div>
</main>
<footer>
    <div class="signature-footer">
        <div><strong>apeskinian|</strong></div>
    </div>
</footer>
{% endblock content %}
