{% extends "base.html" %}

{% load i18n %}
{% load allauth %}
{% load static %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}


{% block content %}
<header>
    {% include 'includes/account_nav.html' %}
</header>
<main>
    <div class="login-container">
        <div class="account-box">
            <div class="text-center">
                <div>{% trans 'Your password is now changed.' %}</div>
                <div class="mt-2 mb-3">Click below to go back to the login screen.</div>
                <a href="{{ login_url }}" class="btn btn-success" type="submit">{% trans "Sign In" %}</a>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="signature-footer fixed-bottom">
        <div><strong>apeskinian|</strong></div>
    </div>
</footer>
{% endblock content %}
