{% extends "base.html" %}

{% load i18n %}
{% load allauth %}
{% load account %}
{% load static %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<header>
    {% include 'includes/account_nav.html' %}
</header>
<main>
    <div class="login-container">
        <div class="account-box">
            <div class="text-center">
                {% if user.is_authenticated %}
                <div class="mb-2">{% include "account/snippets/already_logged_in.html" %}</div>
                {% endif %}
                <div>{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</div>
                <div class="mt-2 mb-3">Click below to go back to the login screen.</div>
                <a href="{{ login_url }}" class="btn btn-success">{% trans "Sign In" %}</a>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="signature-footer fixed-bottom">
        <div><strong>apeskinian|</strong></div>
    </div>
</footer>
{% endblock content %}