{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row"></div>
            <div class="col">  
                <h1>Welcome {{ user.username }}!</h1>
                <p>Not {{ user.username }}? <a href="{{ logout_url }}">logout</a></p>
                <form id="watch-form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ watch_form | crispy }}
                    <div>
                        <button type="button" id="btn-edit" class="btn btn-success">Add Watch</button>
                        <a href="{% url 'cancel_process' 'Watch addition' 'home' %}" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="watch-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h4 id="watch-modal-title" class="modal-title"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <img id="confirmImage" src="{% static 'images/placeholder.png' %}" alt="image preview" style="max-width: 100%; height: auto;">
                    </div>
                    <div id="watch-modal-body"></div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Edit</button>
                <button type="button" class="btn btn-success" id="watch-modal-confirm">Confirm</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<!-- Custom Script -->
<script src="{% static 'script/edit_watch_script.js' %}"></script>
{% endblock %}