{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Welcome {{ user.username }}!</h1>
    <p>Not {{ user.username }}? <a href="{{ logout_url }}">logout</a></p>
        
        {% for thing in lists %}
            <a href="{% url 'watch_list' thing %}"><button class="switch_list">{{ thing }}</button></a>
        {% endfor %}

        <a href="{% url 'add_edit' %}"><button>Add a Watch</button></a>

        {% for watch in watches %}
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card yellow accent-4">
                    <div class="card-image activator">
                        {% if 'placeholder' in watch.image.url %}
                        <img src="{% static 'images/placeholder.png' %}" alt="default watch image" class="activator">
                        {% else %}
                        <img src="{{ watch.image.url }}" alt="{{ watch.make}}" class="activator">
                        {% endif %}
                    </div>
                    <div class="card-reveal center-align">
                        <h5>{{ watch.make }}</h5>
                        <h6>{% if watch.collection %}{{ watch.collection }}&nbsp{% endif %}{{ watch.model }}</h6>
                        <p>{{ watch.movement_type }}</p>
                        <p>{% if watch.movement_model %}{{ watch.movement_model }}{% endif %}</p>
                        <div class="complications center-align">
                            <div>
                                <span class="complication {% if not watch.complication_chronograph %}not-complicated{% endif %}">Chronograph</span>
                                <span class="complication">{{ watch.complication_date }}</span>
                                <span class="complication">{{ watch.complication_day }}</span>
                                <span class="complication">{{ watch.complication_gmt }}</span>
                            </div>
                            <div>
                                <span class="complication">{{ watch.complication_world_timer }}</span>
                                <span class="complication">{{ watch.complication_moonphase }}</span>
                                <span class="complication">{{ watch.complication_power_reserve }}</span>
                                <span class="complication">{{ watch.complication_tourbillon }}</span>
                            </div>
                        </div>
                        <br>
                        <div class="card-action amber accent-4 center-align">
                            {% if current_list == 'Wish List' %}<a href="#" class="btn">Purchased</a>{% endif %}
                            <a href="#" class="btn">Edit</a>
                            <a href="#" class="btn">Delete</a>
                        </div>
                        <div class="card-title center-align"><i class="fa-solid fa-arrow-down"></i></i></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}