{% extends 'base.html' %}
{% block content %}
    <h1>Welcome {{ user.username }}!</h1>
    <p>Not {{ user.username }}? <a href="{{ logout_url }}">logout</a></p>
  
        {% for watch in watches %}
        <div class="card-panel yellow accent-4">
           <h3>{{ watch.make }}&nbsp{{ watch.model }}</h3>
            <p>{{ watch.list_name }}</p>
            <p>{{ watch.movement_type }}</p>
        </div>
        {% endfor %}

        {% for thing in lists %}
            <a href="{% url 'watch_list' thing %}"><button class="switch_list">{{ thing }}</button></a>
        {% endfor %}

{% endblock %}