{% extends 'base.html' %}
{% load static %}

{% block content %}
<header>
    {% include 'standard_nav.html' %}
</header>
<main>
    <div class="watch-container container">
        {% if watches %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" id="watch-options">
            {% for watch in watches %}
            <div class="col">
                <div class="watch-card card">
                    <div class="position-relative" data-bs-toggle="collapse" data-bs-target="#collapse{{ watch.id }}" role="button" aria-expanded="false">
                        {% if 'placeholder' in watch.image.url %}
                        <img src="{% static 'images/placeholder.png' %}" alt="default watch image" class="card-img-top">
                        {% else %}
                        <img src="{{ watch.image.url }}" alt="{{ watch.make}}" class="card-img-top">
                        {% endif %}
                        <div class="overlay-text d-flex align-items-center justify-content-center"><i class="fa-solid fa-pen-to-square"></i></div>
                    </div>
                    <div class="card-body d-flex flex-column align-items-center" data-bs-toggle="collapse" data-bs-target="#collapse{{ watch.id }}" role="button" aria-expanded="false">
                        <h3 class="card-title text-center">{{ watch.make }}</h3>
                        <h5 class="card-title text-center">
                            {% if watch.collection %}{{ watch.collection }}&nbsp;{% endif %}{% if watch.model %}{{ watch.model }}{% endif %}
                            {% if not watch.collection or not watch.model %}<br>{% endif %}
                        </h5>
                        <p class="card-text text-center">{{ watch.movement_type }}{% if watch.movement_model %} ({{ watch.movement_model }}){% endif %}</p>
                        <div class="complications class=card-text">
                            <div>
                                <img src="{% static 'images/complications/chronograph.png' %}" alt="Chronograph" class="complication {% if not watch.complication_chronograph %}not-complicated{% endif %}"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-title="Chronograph">
                                <img src="{% static 'images/complications/' %}date_{{ date }}.png" alt="Date" class="date-complication complication {% if not watch.complication_date %}not-complicated{% endif %}"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-title="Date">
                                <img src="{% static 'images/complications/' %}day_{{ day }}.png" alt="Day" class="day-complication complication {% if not watch.complication_day %}not-complicated{% endif %}"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-title="Day">
                                <img src="{% static 'images/complications/gmt.png' %}" alt="GMT" class="complication {% if not watch.complication_gmt %}not-complicated{% endif %}"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-title="GMT">
                            </div>
                            <div>
                                <img src="{% static 'images/complications/world_timer.png' %}" alt="World Timer" class="complication {% if not watch.complication_world_timer %}not-complicated{% endif %}"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-title="World Timer">
                                <img src="{% static 'images/complications/' %}{{ moonphase }}.png" alt="Moonphase" class="complication {% if not watch.complication_moonphase %}not-complicated{% endif %}"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-title="Moonphase">
                                <img src="{% static 'images/complications/power_reserve.png' %}" alt="Power Reserve" class="complication {% if not watch.complication_power_reserve %}not-complicated{% endif %}"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-title="Power Reserve">
                                <img src="{% static 'images/complications/tourbillon.png' %}" alt="Tourbillon" class="complication {% if not watch.complication_tourbillon %}not-complicated{% endif %}"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-title="Tourbillon">
                            </div>
                        </div>
                    </div>
                    <div id="collapse{{ watch.id }}" class="collapse" data-bs-parent="#watch-options">
                        <div class="d-flex justify-content-center gap-2">
                        {% if current_list == 'wish-list' %}
                            <button class="mb-3 btn btn-primary btn-purchased" data-watch_id="{{ watch.id }}" data-watch_name="{{ watch.make }}{% if watch.model %} {{ watch.model }}{% endif %}" data-current_list="{{ current_list }}">Purchased</button>
                        {% endif %}
                        <a href="{% url 'manage_watch' origin=current_list watch_id=watch.id %}" class="mb-3 btn btn-warning btn-edit">Edit</a>
                        <button class="mb-3 btn btn-danger btn-delete" data-watch_id="{{ watch.id }}" data-watch_name="{{ watch.make }}{% if watch.model %} {{ watch.model }}{% endif %}" data-current_list="{{ current_list }}" data-friendly="{{ watch.list_name.friendly_name }}">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="wrong-turn-message text-center">
            <h5>No watches found in this list.</h5>
            <p>Get started by clicking <a href="{% url 'manage_watch' current_list %}">here</a> or on the button below!</p>
            </p>
        </div>
        {% endif %}
    </div>
    <!-- edit/delete modal -->
    <div class="modal" id="watch-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="watch-modal-title" class="modal-title">[content-placeholder]</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="watch-modal-body" class="modal-body text-center">
                    <div id="watch-modal-body-content"></div>
                    <div class="d-flex justify-content-center gap-2">
                        <a id="watch-modal-cancel" href="#" class="btn">Cancel</a>
                        <a id="watch-modal-confirm" href="#" class="btn"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div id="main-footer" class="d-none d-md-flex fixed-bottom">
        <a href="{% url 'manage_watch' current_list %}" class="btn btn-success">Add a Watch</a>
    </div>
</footer>
{% endblock %}

{% block script %}
<!-- Custom Script -->
<script src="{% static 'script/watch_script.js' %}"></script>
{% endblock %}