{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row"></div>
            <div class="col-4 offset-4">  
                <h1>Welcome {{ user.username }}!</h1>
                <p>Not {{ user.username }}? <a href="{{ logout_url }}">logout</a></p>
                <h2>Settings</h2>
                <br>
                <h3>Movement Types</h3>
                <table>
                    <tr>
                        <th>Movements</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for movement in movements %}
                    <tr>
                        <td>{{ movement }}</td>
                        {% if forloop.counter > 4 %}
                            <td><button class="btn btn-warning">Edit</button></td>
                            <td><button class="btn btn-danger">Delete</button></td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><button class="btn btn-success">Add</button></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <br>
                <h3>Lists</h3>
                <table>
                    <tr>
                        <th>List Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for list in list_names %}
                    <tr>
                        <td>{{ list }}</td>
                        {% if forloop.counter > 2 %}
                            <td><button class="btn btn-warning">Edit</button></td>
                            <td><button class="btn btn-danger">Delete</button></td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><button class="btn btn-success">Add</button></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4">
                <form id="movement-form" method="POST">
                    {% csrf_token %}
                    {{ movement_form | crispy }}
                    <div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}