{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row"></div>
            <div class="col-4 offset-4">  
                <h1>Welcome {{ user.username }}!</h1>
                <p>Not {{ user.username }}? <a href="{{ logout_url }}">logout</a></p>
                <h2>Settings</h2>
                <h3>Movement Types</h3>
                <table>
                    <tr>
                        <th>Movements</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for movement in movements %}
                    <tr>
                        <td>{{ movement }}</td>
                        <td><button class="btn btn-warning">Edit</button></td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td><button class="btn btn-success">Add</button></td>
                    </tr>
                </table>
                <h3>Lists</h3>
                <table>
                    <tr>
                        <th>List Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for list in list_names %}
                    <tr>
                        <td>{{ list }}</td>
                        <td><button class="btn btn-warning">Edit</button></td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td><button class="btn btn-success">Add</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}