{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<header>
    {% include 'navbars.html' %}
</header>
    <div class="container">
        <div class="row"></div>
            <div class="col">  
                <h1>Welcome {{ user.username }}!</h1>
                <p>Not {{ user.username }}? <a href="{{ logout_url }}">logout</a></p>
                {% for thing in lists %}
                <a href="{% url 'watch_list' thing %}" class="btn btn-primary">{{ thing }}</a>
                {% endfor %}
                <h2>Settings</h2>
                <br>
                <h3>Movement Types</h3>
                <table>
                    <tr>
                        <th>Movements</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for movement in movements %}
                    <tr>
                        <td>{{ movement }}</td>
                        {% if forloop.counter > 5 %}
                        <td>
                            <a
                            href="/edit/movement/{{ movement.id }}"
                            name="edit-movement"
                            class="btn-edit-movement btn btn-warning"
                            >Edit
                            </a>
                        </td>
                        <td>
                            <a 
                            href="/delete/movement/{{ movement.id }}" 
                            class="btn-delete-movement btn btn-danger" 
                            data-id="{{ movement.id }}" 
                            data-name="{{ movement }}"
                            >Delete
                            </a>
                        </td>
                        {% else %}
                        <td></td>
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <button 
                            type="button" 
                            class="btn btn-success" 
                            data-bs-toggle="modal" 
                            data-bs-target="#new-entry-modal" 
                            data-mode="new-movement"
                            >Add
                            </button>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <br>
                <h3>Lists</h3>
                <table>
                    <tr>
                        <th>List Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for list in list_names %}
                    <tr>
                        <td>{{ list }}</td>
                        {% if forloop.counter > 2 %}
                        <td>
                            <a
                            href="/edit/list/{{ list.id }}"
                            name="edit-list"
                            class="btn-edit-movement btn btn-warning"
                            >Edit
                            </a>
                        </td>
                        <td><a 
                            href="/delete/list/{{ list.id }}" 
                            class="btn-delete-list btn btn-danger" 
                            >Delete
                            </a>
                        </td>
                        {% else %}
                        <td></td>
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <button 
                            type="button" 
                            class="btn btn-success" 
                            data-bs-toggle="modal" 
                            data-bs-target="#new-entry-modal" 
                            data-mode="new-list"
                            >Add
                            </button>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- Rendering the forms for the modal -->
    <div id="movement-form-wrapper" class="hidden">
        <form id="movement-form" method="POST">
            {% csrf_token %}
            {{ movement_form | crispy }}
            <div>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" name="movement-form" class="btn btn-success">Add</button>
            </div>
        </form>
    </div>
    <div id="list-form-wrapper" class="hidden">
        <form id="list-form" method="POST">
            {% csrf_token %}
            {{ list_form | crispy }}
            <div>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" name="list-form" class="btn btn-success">Add</button>
            </div>
        </form>
    </div>
    {% if edit_form %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="edit-form-wrapper">
                    <form id="edit-form" method="POST">
                        {% csrf_token %}
                        {{ edit_form | crispy }}
                        <div>
                            <p><strong>Note:</strong>
                                {% if associated == 0 %} No watches
                                {% elif associated == 1 %} {{ associated }} watch
                                {% else %} {{ associated }} watches
                                {% endif %} will be affected by this change.
                            </p>
                            <a href="{% url 'staff_settings' %}" class="btn btn-danger">Cancel</a>
                            <button type="submit" name="edit-form" class="btn btn-success">Amend</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if to_delete %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form id="confirm-delete" method="POST">
                    {% csrf_token %}
                    <h5>Confirm deletion of {{ to_delete }}?</h5>
                    <p><strong>Note:</strong>
                        {% if associated == 0 %} No watches
                        {% elif associated == 1 %} {{ associated }} watch
                        {% else %} {{ associated }} watches
                        {% endif %} will be deleted by this change.
                    </p>
                    <div>
                        <a href="{% url 'staff_settings' %}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" name="confirm-delete" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- End of forms -->
    <!-- Modal for adding movements or lists -->
    <div id="new-entry-modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="new-entry-modal-title" class="modal-title">Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="new-entry-modal-body" class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<!-- Custom Script -->
<script src="{% static 'script/staff_settings_script.js' %}"></script>
{% endblock %}