{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<header>
    <!-- top navbar -->
    <nav class="top-nav navbar navbar-expand bg-white fixed-top">
        <div class="container-fluid">
            <div class="d-none d-md-block">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="btn btn-sm btn-primary">Back</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-nav position-absolute top-50 start-50 translate-middle">
                <div class="d-flex align-items-center gap-1">
                    <img src="{% static 'images/watch-_logo.png' %}" alt="Logo" height="40px" class="d-inline-block align-text-top">
                    {% include 'clockface.html' %}
                    <img src="{% static 'images/-tron_logo.png' %}" alt="Logo" height="40px" class="d-inline-block align-text-top">
                </div>
            </div>
            <div class="navbar-nav d-none d-md-flex align-items-center">
                <div class="d-none d-lg-block"><span>logged in as <strong>{{ user.username }}</strong></span></div>
                <div class="ms-2"><a href="{{ logout_url }}" class="btn btn-sm btn-danger">Logout</a></div>
            </div>
        </div>
    </nav>
    <!-- mobile navbar -->
    <nav id="bottom-nav-mobile" class="d-md-none navbar bg-white fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-toggler mx-auto " data-bs-toggle="collapse" data-bs-target="#wot-navbar-mobile" aria-controls="watch-o-tron-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="burger-menu-button fa-solid fa-bars"></i>
            </div>
            <div class="collapse navbar-collapse" id="wot-navbar-mobile">
                <ul class="mobile-nav-list navbar-nav text-center">
                    <div class="mobile-nav-buttons">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="btn btn-sm btn-primary mobile-nav-button">Back</a>
                    </li>
                    </div>
                </ul>
                <div class="session-id-mobile">
                    <span>logged in as <strong>{{ user.username }}</strong></span>
                    <a href="{{ logout_url }}" class="btn btn-sm btn-danger session-button-mobile">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    {% if user.is_staff %}
        {% include 'messages.html' %}
        <div class="container table-container">
            <table class="table caption-top">
                <caption class="hidden">List of movemente</caption>
                <thead class="table-light">
                    <tr>
                        <th class="settings-table-main">Movements</th>
                        <th class="settings-table-edit text-center">Edit</th>
                        <th class="settings-table-delete text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for movement in movements %}
                <tr>
                    <td>{{ movement }}</td>
                    {% if forloop.counter > 5 %}
                        <td class="text-center">
                            <a href="{% url 'edit_movement' movement.id %}" class="btn-staff-setting-table btn btn-sm btn-warning">Edit</a>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'delete_movement' movement.id %}" class="btn-staff-setting-table btn btn-sm btn-danger">Delete</a>
                        </td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <form id="movement-form" method="POST">
                        <td>
                            {% csrf_token %}
                            {{ movement_form | crispy }}
                        </td>
                        <td>
                            <button type="submit" class="btn-staff-setting-table btn btn-sm btn-success" name="movement-form">Add</button>
                        </td>
                        <td></td>
                    </form>
                </tr>
                </tbody>
            </table>
            <table class="table caption-top">
                <caption class="hidden">Lists</caption>
                <thead class="table-light">
                    <tr>
                        <th class="settings-table-main">List Name</th>
                        <th class="settings-table-edit text-center">Edit</th>
                        <th class="settings-table-delete text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in list_names %}
                    <tr>
                        <td>{{ list }}</td>
                            {% if forloop.counter > 2 %}
                        <td class="text-center">
                            <a href="{% url 'edit_list' list.id %}" class="btn-staff-setting-table btn btn-sm btn-warning">Edit</a>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'delete_list' list.id %}" class="btn-staff-setting-table btn btn-sm btn-danger" >Delete</a>
                        </td>
                        {% else %}
                        <td></td>
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <form id="list-form" method="POST">
                            <td>
                                {% csrf_token %}
                                {{ list_form | crispy }}
                            </td>
                            <td>
                                <button type="submit" class="btn-staff-setting-table btn btn-sm btn-success" name="list-form">Add</button>
                            </td>
                            <td></td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Modal for editing and deleting -->
        {% if edit_form or to_delete %}
        <div class="modal fade" id="settings-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="settings-modal-label">{% if edit_form %}Please enter new name:{% elif to_delete %}Confirm deletion of {{ to_delete }}?{% endif %}</h4>
                        {% with content=edit_form|yesno:'Edit,Delete' %}
                        <a href="{% url 'cancel_process' content 'staff_settings' %}" class="btn-close" aria-label="Close"></a>
                        {% endwith %}
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            {% if edit_form %}{{ edit_form | crispy }}{% endif %}
                            <div class="text-center">
                                <p><strong>Note:</strong>
                                    {% if associated == 0 %} No watches
                                    {% elif associated == 1 %} {{ associated }} watch
                                    {% else %} {{ associated }} watches
                                    {% endif %} will be {% if edit_form %}affected{% elif to_delete %}deleted{% endif %} by this change.
                                </p>
                                {% with content=edit_form|yesno:'Edit,Delete' %}
                                    <a href="{% url 'cancel_process' content 'staff_settings' %}" class="btn btn-primary" aria-label="Close">Cancel</a>
                                {% endwith %}
                                <button type="submit" class="btn {% if edit_form %}btn-success{% elif to_delete %}btn-danger{% endif %}">{% if edit_form %}Amend{% elif to_delete %}Delete{% endif %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}
        <div class="text-center">
            <h5>Sorry {{ user.username }} but you should not be here.</h5>
            <p>Click <a href="{% url 'home' %}">here</a> to return home.</p>
            </p>
        </div>
    {% endif %}
</main>
<footer class="d-none d-md-block">
    <div class="footer-signature">
        <div><strong>apeskinian|</strong></div>
    </div>
</footer>
{% endblock %}
{% block script %}
<!-- Custom Script -->
<script src="{% static 'script/staff_settings_script.js' %}"></script>
{% endblock %}