{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<header>
<!-- mobile navbars -->
    <div id="mobile-nav-bar" class="d-md-none">
        <nav id="top-nav-mobile" class="navbar bg-white fixed-top">
            <a href="#"><img src="{% static 'images/watch-o-tron_logo.png' %}" alt="watch-o-tron logo" height="35"></a>
        </nav>
        <nav id="bottom-nav-mobile" class="navbar bg-white fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-toggler mx-auto " data-bs-toggle="collapse" data-bs-target="#wot-navbar-mobile" aria-controls="watch-o-tron-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="collapse navbar-collapse" id="wot-navbar-mobile">
                    <div class="session-id-mobile">
                        <span>logged in as <strong>{{ user.username }}</strong></span>
                        <a href="{{ logout_url }}" class="btn btn-sm btn-danger session-button-mobile">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- normal navbars take over on bigger than medium -->
    <div id="standard-nav-bar" class="d-none d-md-block">
        <nav id="top-nav" class="navbar navbar-expand-md bg-white fixed-top">
            <div class="container-fluid position-relative">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="position-absolute top-50 start-50 translate-middle">
                    <a href="#"><img src="{% static 'images/watch-o-tron_logo.png' %}" alt="Logo" height="40px" class="d-inline-block align-text-top"></a>
                </div>
                <div class=" d-flex align-items-center ms-auto">
                    <div class="d-none d-lg-block"><span>logged in as <strong>{{ user.username }}</strong></span></div>
                    <div class="ms-2"><a href="{{ logout_url }}" class="btn btn-sm btn-danger">Logout</a></div>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>
    {% include 'messages.html' %}
    <div class="container">
        <div class="row"></div>
            <div class="col">  
                <h2>Settings</h2>
                <table class="table caption-top">
                    <caption class="hidden">List of movemente</caption>
                    <thead class="table-light">
                    <tr>
                        <th>Movements</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movement in movements %}
                    <tr>
                        <td>{{ movement }}</td>
                        {% if forloop.counter > 5 %}
                        <td>
                            <a
                            href="{% url 'edit_movement' movement.id %}"
                            class="btn-edit-movement btn btn-sm btn-warning"
                            >Edit
                            </a>
                        </td>
                        <td>
                            <a 
                            href="{% url 'delete_movement' movement.id %}" 
                            class="btn-delete-movement btn btn-sm btn-danger" 
                            >Delete
                            </a>
                        </td>
                        {% else %}
                        <td></td>
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <form id="movement-form" method="POST">
                            <td>
                                {% csrf_token %}
                                {{ movement_form | crispy }}
                            </td>
                            <td>
                                <button type="submit" class="btn btn-sm btn-success" name="movement-form">Add</button>
                            </td>
                            <td></td>
                        </form>
                    </tr>
                    </tbody>
                </table>
                <table class="table caption-top">
                    <caption class="hidden">Lists</caption>
                    <thead class="table-light">
                    <tr>
                        <th>List Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in list_names %}
                    <tr>
                        <td>{{ list }}</td>
                        {% if forloop.counter > 2 %}
                        <td>
                            <a
                            href="{% url 'edit_list' list.id %}"
                            class="btn-edit-movement btn btn-sm btn-warning"
                            >Edit
                            </a>
                        </td>
                        <td><a 
                            href="{% url 'delete_list' list.id %}" 
                            class="btn-delete-list btn btn-sm btn-danger" 
                            >Delete
                            </a>
                        </td>
                        {% else %}
                        <td></td>
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <form id="list-form" method="POST">
                            <td>
                                {% csrf_token %}
                                {{ list_form | crispy }}
                            </td>
                            <td>
                                <button type="submit" class="btn btn-sm btn-success" name="list-form">Add</button>
                            </td>
                            <td></td>
                        </form>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal for editing and deleting -->
    {% if edit_form or to_delete %}
    <div class="modal fade" id="settings-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="settings-modal-label">{% if edit_form %}Please enter new name:{% elif to_delete %}Confirm deletion of {{ to_delete }}?{% endif %}</h1>
                    {% with content=edit_form|yesno:'Edit,Delete' %}
                    <a href="{% url 'cancel_process' content 'staff_settings' %}" class="btn-close" aria-label="Close"></a>
                    {% endwith %}
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% if edit_form %}{{ edit_form | crispy }}{% endif %}
                        <div>
                            <p><strong>Note:</strong>
                                {% if associated == 0 %} No watches
                                {% elif associated == 1 %} {{ associated }} watch
                                {% else %} {{ associated }} watches
                                {% endif %} will be {% if edit_form %}affected{% elif to_delete %}deleted{% endif %} by this change.
                            </p>
                            {% with content=edit_form|yesno:'Edit,Delete' %}
                                <a href="{% url 'cancel_process' content 'staff_settings' %}" class="btn btn-danger" aria-label="Close">Cancel</a>
                            {% endwith %}
                            <button type="submit" class="btn btn-success">{% if edit_form %}Amend{% elif to_delete %}Delete{% endif %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</main>
<footer class="d-none d-md-block">
    <div class="footer-signature">
        <div><strong>apeskinian|</strong></div>
    </div>
</footer>
{% endblock %}
{% block script %}
<!-- Custom Script -->
<script src="{% static 'script/staff_settings_script.js' %}"></script>
{% endblock %}