/* OVERRIDE BROWSER DEFAULTS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    margin: 66px 5px 70px 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navigation bars */
#top-nav-mobile {
    height: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.5px 0.5px 0.5px lightgray;
}

#bottom-nav-mobile {
    box-shadow: 0 -0.5px 0.5px 0.5px lightgray;
}

.mobile-nav-list {
    margin-top: 10px;
}

.mobile-nav-item {
    padding: 5px;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    margin: 3px;
}

.mobile-nav-buttons {
    margin-top: 5px;
}

.mobile-nav-button {
    border-radius: 5px;
    margin: 3px;
    width: 100%;
}

.menu {
    font-size: 1.5rem;
}

.session-button-mobile {
    text-decoration: solid;
    margin-left: 10px;
    width: fit-content;
}

.session-id-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#top-nav {
    box-shadow: 0px 0.5px 0.5px 0.5px lightgray;
}

#bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -0.5px 0.5px 0.5px lightgray;
}

.mobile-active {
    text-decoration: solid;
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
}

.menu-add-watch {
    text-decoration: solid;
    color: white;
    background-color: rgb(89, 147, 89);
}

.menu-settings {
    text-decoration: solid;
    color: white;
    background-color: rgb(96, 128, 196);
}

.menu-logout {
    text-decoration: solid;
    color: white;
    background-color: rgb(193, 82, 82);
}

.alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.alert-box {
    position: absolute;
    width: fit-content;
}

/* signin/up pages */
.login-container {
    margin-top: 30%;
    width: 100%;
}

.signup-container {
    width: 100%;
}

.logout-container {
    text-align: center;
    margin-top: 50%;
    width: 100%;
}

.account-box {
    padding: 30px;
}

.signup-box {
    padding: 20px 30px 20px 30px;
}

#message {
    margin-top: 10px;
}

#logo {
    margin-bottom: 10px;
    width: 200px;
}

/* watch display */
.session-id {
    display: none;
}



.logout-btn {
    margin-left: 20px;
}

.complication {
    display: inline-block;
    margin: 4px;
    height: 30px;
    width: 30px;
}

.not-complicated {
    opacity: 0.2;
}

.hidden {
    display: none;
}

.card-img-top {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
}

/* RESPONSIVE LAYOUT CHANGES TO TABLETS 768PX */
@media screen and (min-width: 768px) {

    main {
        margin: 76px 0px 74px 0px;
    }

    .login-container {
        margin-top: 10%;
        width: 40%;
    }

    .signup-container {
        margin-top: 3%;
        width: 50%;
    }

    .logout-container {
        margin-top: 10%;
        width: 30%;
    }

    .account-box {
        border-radius: 15px;
    }

    .signup-box {
        padding: 30px;
        border-radius: 15px;
    }

    #logo {
        margin: 2%;
        width: 300px;
    }

    .session-id {
        display: flex;
        align-items: center;
    }

    .session-id-sm {
        display: none;
    }
}