/* OVERRIDE BROWSER DEFAULTS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* signin/up pages */
.login-container {
    margin-top: 30%;
    width: 100%;
}

.signup-container {
    width: 100%;
}

.logout-container {
    text-align: center;
    margin-top: 50%;
    width: 100%;
}

.account-box {
    padding: 30px;
}

.signup-box {
    padding: 20px 30px 20px 30px;
}

#message {
    margin-top: 10px;
}

#logo {
    margin-bottom: 10px;
    width: 200px;
}

/* watch display */
.complication {
    display: inline-block;
    padding: 2px;
    height: 30px;
    width: 30px;
}

.not-complicated {
    opacity: 0.2;
}

.hidden {
    display: none;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* RESPONSIVE LAYOUT CHANGES TO TABLETS 768PX */
@media screen and (min-width: 768px) {

    .login-container {
        margin-top: 10%;
        width: 40%;
    }

    .signup-container {
        margin-top: 3%;
        width: 50%;
    }

    .logout-container {
        margin-top: 10%;
        width: 30%;
    }

    .account-box {
        border-radius: 15px;
    }

    .signup-box {
        padding: 30px;
        border-radius: 15px;
    }

    #logo {
        margin: 2%;
        width: 300px;
    }

}