{% load static %}
<!-- larger navbar -->
<nav class="top-nav navbar navbar-expand bg-white fixed-top">
    <div class="container-fluid">
        <div class="d-none d-md-block">
            <ul class="navbar-nav">
                {% for list_name in lists %}
                    {% if forloop.counter < 3 %}
                    <li class="nav-item">
                        <a href="{% url 'watch_list' list_name.list_name %}" class="catch-link nav-link {% if list_name.list_name == current_list %}active{% endif %}">{{ list_name.friendly_name }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if lists.count > 2 %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        {% for list_name in lists %}
                            {% if forloop.counter > 2 %}
                            <li class="nav-item text-center">
                                <a href="{% url 'watch_list' list_name.list_name %}" class="catch-link nav-link {% if list_name.list_name == current_list %}active{% endif %}">{{ list_name.friendly_name }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <a href="{% url 'home' %}" class="catch-link navbar-nav position-absolute top-50 start-50 translate-middle">
            <div class="d-flex align-items-center gap-1">
                <img src="{% static 'images/watch-_logo.webp' %}" alt="Logo" class="d-inline-block align-text-top logo">
                {% include 'includes/clockface.html' %}
                <img src="{% static 'images/-tron_logo.webp' %}" alt="Logo" class="d-inline-block align-text-top logo">
            </div>
        </a>
        <div class="navbar-nav d-none d-md-flex align-items-center">
            <div class="session-id-nav"><span>logged in as <strong>{{ user.username }}</strong></span>
                {% if user.is_staff and not user.is_superuser %}<span class="text-muted"> [staff]</span>{% endif %}
                {% if user.is_superuser %}<span class="text-muted"> [admin]</span>{% endif %}
            </div>
            {% if user.is_staff %}
            <div class="ms-2"><a href="{% url 'staff_settings' %}" class="catch-link btn btn-sm btn-primary" id="staff-btn" aria-label="go to the settings page"></a></div>
            {% endif %}
            {% if user.is_superuser %}
            <div class="ms-2"><a href="{% url 'admin:index' %}" class="catch-link btn btn-sm btn-secondary" id="admin-btn" aria-label="go to the admin page"></a></div>
            {% endif %}
            <div class="ms-2"><a href="{{ logout_url }}" class="catch-link btn btn-sm btn-danger">Sign Out</a></div>
        </div>
    </div>
</nav>
<!-- mobile navbar -->
<nav id="bottom-nav-mobile" class="d-md-none navbar bg-white fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-toggler mx-auto " data-bs-toggle="collapse" data-bs-target="#wot-navbar-mobile" aria-controls="wot-navbar-mobile" aria-expanded="false" aria-label="Toggle navigation" role="button">
            <i class="burger-menu-button fa-solid fa-bars"></i>
        </div>
        <div class="collapse navbar-collapse" id="wot-navbar-mobile">
            <ul class="mobile-nav-list navbar-nav text-center">
                {% for list_name in lists %}
                <li class="nav-item">
                    <a href="{% url 'watch_list' list_name.list_name %}" class="catch-link nav-link mobile-nav-item {% if list_name.list_name == current_list %}mobile-active{% endif %}">{{ list_name.friendly_name }}</a>
                </li>
                {% endfor %}
                {% if current_list %}
                <li class="nav-item mobile-nav-buttons">
                    <a href="{% url 'manage_watch' current_list %}" class="catch-link btn btn-success mobile-nav-button">Add Watch</a>
                </li>
                {% endif %}
            </ul>
            <div>
                <div class="session-id-mobile">
                    <span>logged in as <strong>{{ user.username }}</strong></span>
                    {% if user.is_staff and not user.is_superuser %}<span class="text-muted ms-1"> [staff]</span>{% endif %}
                    {% if user.is_superuser %}<span class="text-muted ms-1"> [admin]</span>{% endif %}
                </div>
                <div class="session-id-mobile">
                    {% if user.is_staff %}
                        <a href="{% url 'staff_settings' %}" class="catch-link btn btn-primary session-button-mobile" aria-label="go to the settings page">Settings</a>
                    {% endif %}
                    {% if user.is_superuser %}
                        <a href="{% url 'admin:index' %}" class="catch-link btn btn-secondary session-button-mobile" aria-label="go to the admin page">Admin Panel</a>
                    {% endif %}
                    <a href="{{ logout_url }}" class="catch-link btn btn-danger session-button-mobile">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
</nav>