{% extends 'base.html' %}
{% load static %}

{% block content %}
<header>
    {% include 'includes/standard_nav.html' %}
</header>
<main>
    <div class="wrong-turn-message text-center">
        <h5>Oops, something went wrong.</h5>
        <p>Return to the <a href="{% url 'home' %}">homepage</a> to get back.</p>
    </div>
</main>
<footer>
    <div class="signature-footer d-none d-md-flex fixed-bottom">
        <div><strong>apeskinian|</strong></div>
        <div class="session-id-nav-bottom"><span>logged in as <strong>{{ user.username }}</strong></span>
            {% if user.is_staff and not user.is_superuser %}<span class="text-muted"> [staff]</span>{% endif %}
            {% if user.is_superuser %}<span class="text-muted"> [admin]</span>{% endif %}
        </div>
    </div>
</footer>
{% endblock %}