{% extends 'base.html' %}
{% load static %}

{% block content %}
<header>
    <!-- top navbar -->
    <nav class="top-nav navbar navbar-expand bg-white fixed-top">
        <div class="container-fluid">
            <div class="navbar-nav"></div>
            <div class="navbar-nav position-absolute top-50 start-50 translate-middle">
                <a href="{% url 'home' %}" class="d-flex align-items-center gap-1">
                    <img src="{% static 'images/watch-_logo.png' %}" alt="Logo" class="d-inline-block align-text-top logo">
                    {% include 'clockface.html' %}
                    <img src="{% static 'images/-tron_logo.png' %}" alt="Logo" class="d-inline-block align-text-top logo">
                </a>
            </div>
            <div class="navbar-nav d-none d-md-flex align-items-center">
                <div class="d-none d-lg-block"><span>logged in as <strong>{{ user.username }}</strong></span></div>
                <div class="ms-2"><a href="{{ logout_url }}" class="btn btn-sm btn-danger">Logout</a></div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="wrong-turn-message text-center">
        <h5>Oops, something went wrong.</h5>
        <p>Click <a href="{% url 'home' %}">here</a> to get back home.</p>
    </div>
</main>
<footer>
    <div class="signature-footer">
        <div class="d-none d-md-block"><strong>apeskinian|</strong></div>
        <div class="d-flex d-md-none align-items-center">
            <div><span>logged in as <strong>{{ user.username }}</strong></span></div>
            <div class="ms-2"><a href="{{ logout_url }}" class="btn btn-sm btn-danger">Logout</a></div>
        </div>
    </div>
</footer>
{% endblock %}